.debug-square {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  z-index: 2000;
  background-color: #000000;

  &.blue {
    background-color: darkblue;
  }

  &.red {
    background-color: darkred;
  }

  &.green {
    background-color: darkgreen;
  }

  &.grey {
    background-color: grey;
  }
}